@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@100;200;300&display=swap");

@import url("components/container.css");
@import url("components/my-friends.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin: 0px;
}

h1 {
	size:  20px;
}

h1, h2, h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}
a {
	text-decoration: none;
}